<!--
  Generated template for the JualBeli page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Beli komoditas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
	<ion-card *ngFor="let data of dagangan">
        <ion-card-header>
  		    <ion-row>
            <ion-col>
              <ion-item no-padding>
      		      <ion-avatar item-left>
                  <img src="assets/icon/user.png" *ngIf="!data.picture">
      		        <img [src]="data.picture" *ngIf="data.picture" >
      		      </ion-avatar>
      		        {{data.nama}}
      				  <h6>{{data.time}} {{data.time!='now'?'ago':''}}</h6>  
      		    </ion-item>
            </ion-col>
          </ion-row>
        <ion-row>
          <ion-col>
            <h2>{{data.nama_komoditas}}</h2>
          </ion-col>
        </ion-row>
	    	<ion-row>
          <ion-col>
            <h5>Rp. {{data.harga}} per {{data.satuan_komoditas}}</h5>
          </ion-col>
          <ion-col>
            <h5>Stok: {{data.stok}} {{data.satuan_komoditas}}</h5>
          </ion-col>
        </ion-row>
        </ion-card-header>
        <img [src]="data.picture" *ngIf="data.picture">
        <ion-card-content class="outer-content">
        	<ion-row>
	        	<h6>
		        	<ion-icon name='call'> </ion-icon>
		        	089xxx
	        	</h6>
        	</ion-row>
        	<ion-row>
        		<h6>
		        	<ion-icon name='pin'> </ion-icon>
		        	Jl x no y
	        	</h6>
        	</ion-row>
        </ion-card-content>
    </ion-card>
</ion-content>
