<!--
  Generated template for the BerbagiFileEditTambahPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar>
    <ion-title>{{pageType}} Materi</ion-title>
    <ion-buttons end>
      <button [disabled]="!form.valid" (click)="submit()" ion-button icon-only>
        <ion-icon color="primary" name="send"></ion-icon>
      </button>
    </ion-buttons>      
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- <button ion-button (click)="cek()">
    cek file
  </button> -->
  <!-- form add artikel -->
  <form [formGroup]= "form">
    <ion-item no-padding no-lines>
      <ion-label color="primary" stacked>Unggah File</ion-label>    
    </ion-item>
    <ion-row no-padding style="padding-top:4px"> 
      <ion-col col-4 no-padding>
        <button color="dark" ion-button small outline tappable icon-start (click)="takeFileFrom()">
          <ion-icon name='document'></ion-icon>
            <span>Tambah file</span>
        </button>
      </ion-col>
    </ion-row>  
    <ion-row *ngFor="let item of fileName; let i = index">
      <ion-col col-10 padding-left>
        <ng-container>
        {{item?.nama?.asli}}
        </ng-container>
      </ion-col>
      <ion-col col-2>
        <button ion-button icon-only (click)="popFile(i)" ><ion-icon name="close"></ion-icon></button>
      </ion-col>
    </ion-row>
    <ion-item no-padding no-lines>
      <ion-label color="primary" stacked>Judul</ion-label>    
      <ion-input formControlName="judul" type="text" placeholder="Judul File"></ion-input>
    </ion-item>
    <p ion-text *ngIf="form.controls.judul._touched && !form.controls.judul.valid" color="danger">Judul harus diisi</p>   

    <ion-item no-padding no-lines>
      <ion-label color="primary" stacked>Deskripsi</ion-label>    
      <ion-textarea formControlName="deskripsi" placeholder="Berikan deskripsi file anda"></ion-textarea>
    </ion-item> 
    <p ion-text *ngIf="form.controls.deskripsi._touched && !form.controls.deskripsi.valid" color="danger">Deskripsi harus diisi</p>         

    <ion-item no-padding no-lines>
      <ion-label color="primary" stacked>Kategori</ion-label>    
        <ion-select formControlName="subKategori" [selectOptions]="{mode: 'ios'}" placeholder="Pilih kategori">
          <ng-container *ngFor="let kategori of kategoris">
            <ion-option disabled>{{kategori.nama}}: </ion-option>
            <ng-container *ngFor="let subkategori of kategori.subkategori">
              <ion-option [value]="subkategori._id">&nbsp;&nbsp;&nbsp;{{subkategori.nama}}</ion-option>              
            </ng-container>
          </ng-container>
        </ion-select>
    </ion-item>     
    <p ion-text *ngIf="form.controls.subKategori._touched && !form.controls.subKategori.valid" color="danger">Kategori harus dipilih</p>         


    <ion-item no-padding no-lines>
      <ion-label color="primary" stacked>Status</ion-label>    
        <ion-select formControlName="status" [selectOptions]="{mode: 'ios'}">
          <ion-option value="terbit">Terbit</ion-option>
          <ion-option value="draf">Draf</ion-option>        
        </ion-select>
    </ion-item>    

    <!-- tag input -->
    <ion-item id='tagFocus' no-padding no-lines>
      <ion-label color="primary" stacked>Tag</ion-label>    
    </ion-item>
    <div style="margin-top: -10px;"> 
      <tag-input #tagFocus [placeholder]="'tambah tag'"  (onFocus)="setFocus($event, 'tagFocus')" [secondaryPlaceholder]="'Silahkan masukan tag'" [theme]="'foundation-theme'" formControlName='tag'></tag-input> 
    </div>
        
  </form>

</ion-content>