artikel-saya {
    .status-artikel{
        font-size: 1.2rem;    
    }
    img {
        display: block;
        // max-width:240px;
        max-height:150px;
        //make img center
        margin-left: auto;
        margin-right: auto;        
        object-fit: cover
                
    }
    ion-select{
        max-width: 100%;
        padding: 5 0 0 19;
    }
}
