<!-- template for artikel saya only -->
<ion-row *ngIf="passedData == 'saya' ">
  <ion-col col-4>
    <!-- select menu filter by-->
    <ion-select placeholder="Filter" interface="popover" [(ngModel)]="filterBy" (ionChange)="changeFilter(filterBy)" name="filterBy" [selectOptions]="{title: 'Filter berdasarkan'}">
      <ion-option value='Draf'>Draf</ion-option>
      <ion-option value='Terbit'>Terbit</ion-option>      
    </ion-select> 
  </ion-col>
  <ion-col col-4 >
    <!-- select menu urutkan -->
    <ion-select placeholder="Urutkan" interface="popover" [(ngModel)]="sortBy" (ionChange)="changeFilter(sortBy)" name="sortBy" [selectOptions]="{title: 'Urut berdasarkan'}">
      <ion-option value='Terbaru'>Terbaru</ion-option>
      <ion-option value='Teriama'>Terlama</ion-option>      
    </ion-select>     
  </ion-col> 
</ion-row>
<!-- /end of template for artikel saya only -->

<ion-card *ngFor="let item of data; let i = index">   
    <!-- for artikel saya only -->
    <ion-card-header *ngIf="passedData == 'saya' ">
      <span style="float: right">
        <ion-icon tappable (click)="presentActionSheet()" name="more"></ion-icon>
      </span>
    </ion-card-header>
    <!-- end of aritikel saya only -->

    <div (click)="pushArtikelPreviewPage(item)">
          
          <div>
            <img [src]= "item?.meta?.thumbnail"> 
          </div>
          
          <ion-card-content>
            <ion-card-title style="font-size: 2.0rem">
              {{item?.judul}}
            </ion-card-title>
            <p [innerHtml]="(item?.ringkasan.length>200)? (item?.ringkasan | slice:0:50)+'...':(item?.ringkasan)">
            </p>
          </ion-card-content>

          <ion-row padding-left padding-right padding-bottom>
            <ion-col no-padding col--8 class="status-artikel" float-left> 
              <span *ngIf="passedData == 'saya' ">Terakhir
                {{item?.tanggal.ubah | date: 'dd MMMM yyyy, h:mm:ss a' }}
              </span>

              <span *ngIf="passedData == 'explore' ">
                {{item?.tanggal.terbit | date: 'dd MMMM yyyy'}}
              </span>

            </ion-col>

            <ion-col no-padding  col-4>
              <ion-note *ngIf="passedData == 'saya' " style="float:right" class="status-artikel"><i>{{item?.status}}</i></ion-note>        
            </ion-col>
          </ion-row>
          
    </div>

</ion-card>
