<!--
  Generated template for the ForumPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
     <ion-title>Pengetahuan </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="pushPageForumSaya()">
        <ion-icon name="list"></ion-icon>
      </button>
    </ion-buttons>     
  </ion-navbar>

</ion-header>

<ion-content class="card-background-page"> 
    <!-- <ion-spinner *ngIf="!kategoris.length" style="left:50%"></ion-spinner> -->
    <div *ngFor="let kategori of kategoris">
      <ion-card tappable (click)="pushForumSubPage(kategori._id)">
        <img [src]="kategori.meta.thumbnail"/>
        <ion-card-content>
          <ion-card-title>
            {{kategori.nama}}
            </ion-card-title>
          <p text-left>
            {{kategori.deskripsi}}
          </p>
          <!-- <ion-row>
            <ion-col col-6 push-6>
              <ion-note style="float:right">
                400 Forum
              </ion-note>
            </ion-col>
          </ion-row> -->
        </ion-card-content>
      </ion-card>
    </div>
</ion-content> 
