<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle color="light">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Portal Harga</ion-title>
  </ion-navbar>

</ion-header>
<ion-content class="outer-content coba">
	<ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      refreshingSpinner="circles"
      refreshingText="Memuat ulang...">
    </ion-refresher-content>
  </ion-refresher>
	<ion-card *ngFor="let data of aspirasi" class="aspirasi">
		<ion-row>
			<ion-col text-left>
				<ion-card-header no-padding>
					<div ion-item>
				        <ion-avatar item-left>
				          <img src="assets/icon/user.png" *ngIf="!data.picture">
				          <img [src]="data.picture" *ngIf="data.picture">
				        </ion-avatar>
				        <h6>{{data.name}}</h6>
	    				<p><small>{{data.time}} {{data.time!='now'?'ago':''}}</small></p>  
			        </div>
			    </ion-card-header>
			</ion-col> 
			<div *ngIf="data.user_id == user_id">
				<ion-col text-right>
					<button ion-button clear small  color="primary" (click)="presentActionSheet(data)">
		        	 	<ion-icon name='ios-arrow-down-outline'></ion-icon>
		        	 </button>
				</ion-col>
			</div>
		</ion-row>
	    <ion-card-content class="outer-content">
	    	<h2 padding="true">{{data.subjek}}</h2>
            <h3 padding="true">{{data.isi}}</h3>
	    </ion-card-content>
	    <ion-row no-padding>
	      <ion-col text-left>
	        <button ion-button clear small  color="primary" (click)="lihatPendukung(data.aspirasi_id)">
	          <small>{{data.total_pendukung}} Pendukung</small>
	        </button>
	      </ion-col>
				<ion-col>
					<button ion-button clear small  color="primary" (click)="lihatTanggapan(data.aspirasi_id)">
	          <small>{{data.total_tanggapan}} Tanggapan</small>
	        </button>
				</ion-col>
	      <ion-col text-right>
	      	<div *ngIf="data.user_id != user_id && data.status_voted == false">
		        <button ion-button clear small color="primary" icon-left (click)="dukungAspirasi(data.aspirasi_id)" >
		          <small><ion-icon name='thumbs-up'></ion-icon>
		          Dukung</small>
		        </button>
		    </div>
		    <div *ngIf="data.user_id != user_id && data.status_voted == true">
		        <button ion-button clear small color="primary" icon-left (click)="batalDukungAspirasi(data.aspirasi_id)" >
		          <small><ion-icon name='thumbs-up'></ion-icon>
		          Batal Dukung</small>
		        </button>
		    </div>
	      </ion-col>
	    </ion-row>
	</ion-card>
	<ion-fab bottom right #fab>
    	<button ion-fab (click)="tambahAspirasi()"><ion-icon name="add"></ion-icon></button>
  	</ion-fab>
</ion-content>
<!-- tambah waktu -->