<!--
  Generated template for the ProfileEdit page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Edit profile</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="primary" (click)="onUpdate(updateForm)">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
 

<ion-content padding>
	<div padding-top text-center>
		<div class="profilePict">
	    <img src="assets/icon/user.png" *ngIf="!user.picture">
	    <img [src]="user.picture" *ngIf="user.picture" alt="avatar">
	    <h5 (click)="updatePicture()">Ubah foto profile</h5>
		</div>
	</div>
	<form #updateForm="ngForm" novalidate>
		<ion-list no-lines>
			<ion-item>
				<ion-label stacked color="primary">Nama Lengkap</ion-label>
				<ion-input [(ngModel)]="user.name" name="nama" type="text" #nama="ngModel" required>
				</ion-input>
			</ion-item>
			<p ion-text [hidden]="nama.valid || submitted == false" color="danger" padding-left>
				Nama lengkap harus diisi
			</p>

			<ion-item>
				<ion-label stacked color="primary">Username</ion-label>
				<ion-input [(ngModel)]="user.username" name="username" type="text" #username="ngModel" required>
				</ion-input>
			</ion-item>
			<p ion-text [hidden]="username.valid || submitted == false" color="danger" padding-left>
				Username harus diisi
			</p>
			<ion-item>
				<ion-label stacked color="primary">Email</ion-label>
				<ion-input [(ngModel)]="user.email" disabled name="email" type="email" #email="ngModel" required >
				</ion-input>
			</ion-item>
			<div *ngIf="user.role==4||user.role==6">
				<ion-item>
					<ion-label stacked color="primary">Nomor telepon</ion-label>	
					<ion-input [(ngModel)]="user.nomor_telepon" type="tel" pattern="[0]{1}[0-9]{9}[0-9]{1,}" maxlength="13" placeholder="Nomor telepon" name="nomor_telepon" #nomor_telepon="ngModel" required >
					</ion-input>
				</ion-item>
				<div [hidden]="nomor_telepon.valid || submitted == false" padding-left>
					<p ion-text color="danger" *ngIf="!user.nomor_telepon">Nomor telepon harus diisi</p>
					<p ion-text color="danger" *ngIf="user.nomor_telepon">Nomor telepon tidak valid</p>
				</div> 
			</div> 
		</ion-list>
	</form>
</ion-content>
