<!--
  Generated template for the ProfilePenyuluh page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle color="light">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Portal Harga</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content>
	<div padding-top text-center>
    <div class="profilePict">
	    <img src="assets/icon/user.png" *ngIf="!profilePicture">
		  <img [src]="profilePicture" *ngIf="profilePicture">
    </div>
	    <h2>{{nama}}</h2>
	    <button ion-button outline color="primary" (click)="editProfile()" >
			Edit profile
		</button>
		<button ion-button outline color="primary" (click)="logout()" >
			Logout
		</button>
	 </div>
   <h6 padding-left>Materi Anda</h6>
   <ion-card *ngFor="let data of materi">
    <ion-item *ngIf="user_id == data.user_id" (click)="presentActionSheet(data)">
      <ion-icon name="document" item-left></ion-icon>
      <h2>{{data.judul}}</h2>
      <p>{{data.keterangan}}</p>
      <p style="font-size:10px;">Update terakhir: {{data.datePost}}</p>
    </ion-item>
  </ion-card>
</ion-content>
