<!--
  Generated template for the ArtikelPreviewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar>
    <ion-title>Lihat Artikel</ion-title>
    <ion-buttons *ngIf="userRole == 3" end>
      <button ion-button icon-only (click)="presentActionSheet()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>    
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-spinner [hidden]="artikel" name="crescent" style="left:50%"></ion-spinner>

  <h3>{{artikel?.judul}}</h3>
  
  <ion-note>Penulis: </ion-note> {{artikel?.penulis}} <br>
  <ion-note style="font-size: 1.0rem">
    Diterbitkan: {{artikel?.tanggal?.terbit | date: 'dd MMMM yyyy'}}
  </ion-note>
  <div *ngIf="artikel">
    <img class="image-artikel" [src]="artikel?.meta.thumbnail">
  </div>
  <p [innerHTML]="artikel?.isi"></p>
</ion-content>

<ion-footer no-border>

  <ion-toolbar>
    <ion-row float-right>
      <ion-col col-6>
        <ion-buttons >
          <button ion-button icon-only (click)="pushKomentarPage()">
            <ion-icon name="chatboxes"></ion-icon>&nbsp;{{artikel?.meta?.jumlah.komentar}}
          </button>
        </ion-buttons>
      </ion-col>    
      <ion-col col-6>
        <ion-buttons >
          <button ion-button icon-only (click)="like()">
            <ion-icon isActive="true"  name="star"></ion-icon>
          </button>
        </ion-buttons>      
      </ion-col>
  
    </ion-row>  
  </ion-toolbar>

</ion-footer>