<!--
  Generated template for the ProfileMasyarakat page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Profile</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
	<div padding-top text-center *ngIf="nama">
    <div class="profilePict">
      <img [src]="profilePicture" *ngIf="profilePicture">
      <img src="assets/icon/user.png" *ngIf="!profilePicture">
    </div>
	    <h2>{{nama}}</h2>
	    <button ion-button outline color="primary" (click)="editProfile()" >
			Edit profile
		</button>
		<button ion-button outline color="primary" (click)="logout()" >
			Logout
		</button>
	 </div>
   <h6 padding-left>Operasi pasarku</h6>
	 <ion-card *ngFor="let data of dataOperasi">
      <ion-row>
        <ion-col text-left>
          <ion-card-header no-padding>
            <div ion-item>
              <h6 color="primary"><b>{{data.namaKomoditas}}</b></h6>
              <p><small>{{data.time}} {{data.time!='now'?'ago':''}}</small></p>
            </div>
          </ion-card-header>
        </ion-col>
        <div *ngIf="data.user_id == user_id">
          <ion-col text-right>
            <button ion-button clear small  color="primary" (click)="presentActionSheet(data)">
              <ion-icon name='ios-arrow-down-outline'></ion-icon>
             </button>
          </ion-col>
        </div>
      </ion-row>
        <ion-row padding-left>
          <ion-col>
            <h4>{{data.pesan}}</h4>
          </ion-col>
        </ion-row>
        <ion-row padding-left>
          <ion-col>
            <small><ion-icon name='pin'></ion-icon>
            {{data.alamat}}</small>
          </ion-col>
        </ion-row>
        <ion-row no-padding>
          <ion-col text-left>
            <button ion-button clear small  color="primary" (click)="lihatPendukung(data.operasiPasar_id)">
              {{data.totalPendukung}} Pendukung
            </button>
          </ion-col>
        </ion-row>
    </ion-card>
</ion-content>
