<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-list-header>
        Aplikasi
      </ion-list-header>      
      <button ion-item menuClose *ngFor="let item of menuApps" (click)= "openPage(item)">
          <ion-icon item-start name="{{item.icon}}" [color]="isActive(item)" ></ion-icon>{{ item.name }}
      </button>  
    </ion-list>

    <ion-list>
      <ion-list-header>
        Akun
      </ion-list-header>
      <button ion-item menuClose *ngFor="let item of menuAccount" (click)= "openPage(item)">
          <ion-icon item-start name="{{item.icon}}" [color]="isActive(item)"></ion-icon>{{ item.name }}
      </button>                   
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" main #content></ion-nav>
