<!--
  Generated template for the EditJualKomoditas page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Edit komoditas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
	<form #submitForm="ngForm" novalidate (ngSubmit)="submit(submitForm)">
		<ion-list no-lines>
			<ion-row>
				<ion-col>
					<ion-item>
					  <ion-label stacked color="primary">Komoditas </ion-label>
					  <ion-select [(ngModel)]="dagangan.komoditas_id" name="komoditas" #komoditas="ngModel">
					    <div *ngFor="let data of dataKomoditas" >
					    	<ion-option value="{{data.komoditas_id}}" >{{data.name}}</ion-option>	
					    </div>
					  </ion-select>
					</ion-item>
				</ion-col>
			</ion-row>
			<p ion-text [hidden]="komoditas.valid || submitted == false" color="danger" padding-left>
				Pilih komoditas
			</p>

			<ion-row>
				<ion-col >
					<ion-item>
						<ion-label stacked color="primary">Harga (Rp.)</ion-label>	
						<ion-input [(ngModel)]="dagangan.harga" name="harga" type="number" min="0" #harga="ngModel" spellcheck="false" autocapitalize="off" required>
						</ion-input>
					</ion-item>
				</ion-col>
			</ion-row>
			<p ion-text [hidden]="harga.valid || submitted == false" color="danger" padding-left>
				Jumlah is required
			</p> 

			<ion-row>
				<ion-col >
					<ion-item>
						<ion-label stacked color="primary">Stok Tersedia</ion-label>	
						<ion-input [(ngModel)]="dagangan.stok" name="stok" type="number" min="0" #stok="ngModel" spellcheck="false" autocapitalize="off" required>
						</ion-input>
					</ion-item>
				</ion-col>
			</ion-row>
			<p ion-text [hidden]="stok.valid || submitted == false" color="danger" padding-left>
				Jumlah is required
			</p> 


			<ion-row>
				<ion-col>
					<ion-item>
						<ion-label stacked color="primary">Deskripsi komoditas</ion-label>
						<ion-textarea [(ngModel)]="dagangan.keterangan" name="deskripsi" #deskripsi="ngModel" rows="6" required></ion-textarea>
					</ion-item>
				</ion-col>
			</ion-row>
			<p ion-text [hidden]="deskripsi.valid || submitted == false" color="danger" padding-left>
				Deskripsi is required
			</p>

			<ion-row>
				<ion-col>
					<ion-item>
						<ion-label stacked color="primary">Foto</ion-label>
					</ion-item>
					<ion-row padding>
						<ion-col>
							<div  (click)="takePicture()" >
						        <ion-icon name='camera'></ion-icon>
						          Ambil gambar
					        </div>
						</ion-col>
						<ion-col>
					        <div (click)="getPhotoFromGallery()">
						        <ion-icon name='image'></ion-icon>
						          Pilih dari gallery
					        </div>
						</ion-col>
					</ion-row>
						
					<ion-item *ngIf="dagangan.foto">
						<img [src]="'data:image/jpeg;base64,'+dagangan.foto" >
					</ion-item>
					<ion-item *ngIf="!dagangan.foto && image">
						<img [src]="image" >
					</ion-item>
				</ion-col>
			</ion-row>

		</ion-list>

		<div padding>
			<button ion-button block type="submit">Send</button>
		</div>
	</form>
</ion-content>

