<!--
  Generated template for the StatusProduksi page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Status Produksi</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
	<ion-card *ngFor="let post of produksi" class="aspirasi" >
	<div *ngIf="post.user_id == id">
		<ion-row>
			<ion-col text-left>
				<ion-card-header no-padding>
					<ion-grid>
						<ion-row >
							<ion-col col-1>
								<img  style="max-height:40px;max-width:40px" src="assets/maps-icon/{{post.nama_komoditas.toLowerCase()}}.png">
							</ion-col>
							<ion-col col-10>
								<p style="padding-top:5px;font-weight:bold;font-size:110%" color="primary">{{post.nama_komoditas}}</p>
							</ion-col>
							<ion-col>
							</ion-col>
							<ion-col>
							</ion-col>
							<ion-col>
							</ion-col>
						</ion-row>
					</ion-grid>
					<!--<h3>{{post.nama_komoditas}}</h3>-->
					<h1 padding-left>{{post.jumlah}} {{post.satuan_komoditas}}</h1>
					<!--<h6>{{post.time}} {{post.time!='now'?'ago':''}}</h6>  -->
			    </ion-card-header>
			</ion-col>
			<div *ngIf="post.user_id == id">
			<ion-col text-right>
				<button ion-button clear small  color="primary" (click)="presentActionSheet(post)">
	        	 	<ion-icon name='ios-arrow-down-outline'></ion-icon>
	        	 </button>
			</ion-col>
			</div>
		</ion-row>
	    <ion-card-content class="outer-content">
            <p><b><ion-icon name="calendar"></ion-icon> Tanam</b> {{post.date_tanam}}</p>
            <p><b><ion-icon name="calendar"></ion-icon> Panen</b> {{post.date_panen}}</p>
            <p><b><ion-icon name="grid"></ion-icon> Luas lahan</b> {{post.luas_lahan}} m<sup>2</sup></p>
            <h3 padding-top>{{post.keterangan}}</h3>
		    <p padding-top>
		      <small><ion-icon name='pin'> </ion-icon>
	        	{{post.alamat}}</small>
	        </p>
	    </ion-card-content>
	 </div>
	</ion-card>

	<ion-fab bottom right #fab>
    	<button ion-fab (click)="tambahProduksi()"><ion-icon name="add"></ion-icon></button>
  	</ion-fab>
</ion-content>
