<!--
  Generated template for the EditStatusProduksi page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Edit status produksi</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
	<form #submitForm="ngForm" novalidate >
		<ion-list>
			<ion-item>
				<ion-label stacked color="primary">Komoditas </ion-label>
				<ion-select [(ngModel)]="produksi.komoditas_id" name="komoditas" #komoditas="ngModel" (ionChange)="changeKomoditas(produksi.komoditas_id)" placeholder="Pilih komoditas" required>
				<ion-option *ngFor="let data of dataKomoditas" value="{{data.komoditas_id}}">{{data.name}}</ion-option>
				</ion-select>
			</ion-item>
			<p ion-text [hidden]="komoditas.valid || submitted == false" color="danger" padding-left>
				Pilih komoditas
			</p>
			
			<ion-row padding-left>
				<ion-label stacked color="primary">Lokasi</ion-label>
			</ion-row>
			<ion-row padding-left>
				<ion-col>
					<button ion-button [color]="useManualLocationColor" small outline (click)="chooseLocation(1)">Input lokasi</button>
				</ion-col>
				<ion-col>
					<button ion-button [color]="useCurrentLocationColor" small outline (click)="chooseLocation(0)">Ambil dari peta</button>
				</ion-col>
			</ion-row>
			<div padding-left *ngIf="useCurrentLocation">{{produksi.alamat}}</div>
			<ion-item *ngIf="!useCurrentLocation">	
				<ion-input [(ngModel)]="inputAlamat" name="alamat" type="text" spellcheck="false" autocapitalize="off" required placeholder="Nama jalan, kota, provinsi">
				</ion-input>
			</ion-item>
			<p ion-text [hidden]="inputAlamat || useCurrentLocation || submitted == false" color="danger" padding-left>
				Lokasi is required
			</p> 

			<ion-item>
				<ion-label stacked color="primary">Luas lahan (m2)</ion-label>	
				<ion-input [(ngModel)]="produksi.luas_lahan" name="luasLahan" type="number" min="0" #luasLahan="ngModel" spellcheck="false" autocapitalize="off" required placeholder="Luas lahan Produksi">
				</ion-input>
			</ion-item>
			<p ion-text [hidden]="luasLahan.valid || submitted == false" color="danger" padding-left>
				Luas lahan is required
			</p> 

			<ion-item>
				<ion-label stacked color="primary">Jumlah Produksi {{produksi.satuan}}</ion-label>	
				<ion-input [(ngModel)]="produksi.jumlah" name="jumlah" type="number" min="0" #jumlah="ngModel" spellcheck="false" autocapitalize="off" required placeholder="Jumlah Produksi">
				</ion-input>
			</ion-item>
			<p ion-text [hidden]="jumlah.valid || submitted == false" color="danger" padding-left>
				Jumlah is required
			</p> 

			<ion-item>
				<ion-label stacked color="primary">Waktu tanam</ion-label>	
				<ion-datetime displayFormat="D MMMM YYYY" pickerFormat="D MMMM YYYY" [(ngModel)]="produksi.date_tanam" name="waktuTanam" max="2100" #waktuTanam="ngModel" required placeholder="Perkiraan waktu panen">
				</ion-datetime>
			</ion-item>
			<p ion-text [hidden]="waktuTanam.valid || submitted == false" color="danger" padding-left>
				Waktu tanam is required
			</p> 

			<ion-item>
				<ion-label stacked color="primary">Perkiraan waktu panen</ion-label>	
				<ion-datetime displayFormat="D MMMM YYYY" pickerFormat="D MMMM YYYY" [(ngModel)]="produksi.waktu_panen" name="waktuPanen" max="2100" #waktuPanen="ngModel" required placeholder="Perkiraan waktu panen">
				</ion-datetime>
			</ion-item>
			<p ion-text [hidden]="waktuPanen.valid || submitted == false" color="danger" padding-left>
				Waktu panen is required
			</p>

			<ion-item>
				<ion-label stacked color="primary">Keterangan</ion-label>
				<ion-textarea [(ngModel)]="produksi.keterangan" name="keterangan" #keterangan="ngModel" rows="6" required placeholder="Keterangan"></ion-textarea>
			</ion-item>
			<p ion-text [hidden]="keterangan.valid || submitted === false" color="danger" padding-left>
			Keterangan is required
			</p>
		</ion-list>

		<div padding>
			<button ion-button block (click)="submit(submitForm)">Update</button>
		</div>
	</form>
</ion-content>
