page-info-harga {
	.scroll-content {
        height: 100%;
        white-space: nowrap;
      }
    .no-scroll .scroll-content{
     	overflow: hidden;
	}
 	.set-scroll .no-scroll .scroll-content{
     	 overflow-y: scroll;
	}
      #map {
        width: 100%;
        height: 50%;
      }
}
