<!--
  Generated template for the InfoHarga page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>
      <!--<div *ngIf="userRole==4">
        Info Harga Hari Ini
      </div>-->
      <div>
        Info Harga
      </div>
    </ion-title>
  </ion-navbar>
  <ion-segment [(ngModel)]="segment" (ionChange)="updateSegment()" *ngIf="userRole==3||userRole==4||userRole==5">
      <ion-segment-button value="now">
        Hari Ini
      </ion-segment-button>
      <ion-segment-button value="history">
        Histori Laporan
      </ion-segment-button>
    </ion-segment>
  <ion-segment [(ngModel)]="segment" (ionChange)="updateSegment()" *ngIf="userRole==6">
      <ion-segment-button value="now">
        Hari Ini
      </ion-segment-button>
      <ion-segment-button value="trend">
        Trend harga
      </ion-segment-button>
      <ion-segment-button value="history">
        Histori Laporan
      </ion-segment-button>
    </ion-segment>
    
    <ion-row>
      <ion-col no-padding>
        <div class="filterKomoditas">
          <ion-item no-lines >
            <ion-label stacked>Komoditas</ion-label>
            <ion-select [(ngModel)]="choosedKomoditas" (ionChange)="showselected(choosedKomoditas)" name="pilihKomoditas">
              <ion-option value="All">Semua komoditas</ion-option>
              <ion-option *ngFor="let data of dataKomoditas" value="{{data.komoditas_id}}">{{data.name}}</ion-option>
            </ion-select>
          </ion-item>
        </div>
      </ion-col>
      <ion-col no-padding *ngIf="segment=='history'">
         <ion-item no-lines> 	
           <ion-label stacked>Tanggal</ion-label> 
           <ion-input type="date" [(ngModel)]="dateFilter" (ionChange)="changeDateFilter(dateFilter)" name="date" >
				   </ion-input>
          <!--<ion-datetime displayFormat="D MMMM YYYY" pickerFormat="D MMMM YYYY" [(ngModel)]="dateFilter" (ionChange)="changeDateFilter(dateFilter)" name="date" max="2100" #date="ngModel">-->
          <!--</ion-datetime>-->
        </ion-item>
      </ion-col>
    </ion-row>
</ion-header>
 
<ion-content padding-top>
  <div #map id="map" [hidden]="segment!='now'"></div> 
  <!--segment info harga hari ini dan history laporan harga-->
  <div *ngIf="segment=='now'||segment=='history'" class="content{{segment}}{{userRole}}">
    <!--looping data-->
    <div *ngFor="let post of dataHarga">
      <!--buat filter komoditas-->
      <div *ngIf="choosedKomoditas=='All'||post.komoditas_id==choosedKomoditas"> 
        <!--buat filter tanggal post-->
        <ion-card *ngIf="segment=='now'||post.datePost==dateFormat">
          <ion-row>
            <ion-col text-left>
              <ion-card-header no-padding>
                <ion-grid>
                  <ion-row >
                    <ion-col col-1>
                      <img  style="max-height:40px;max-width:40px" src="assets/maps-icon/{{post.namaKomoditas.toLowerCase()}}.png">
                    </ion-col>
                    <ion-col col-10>
                      <p style="padding-top:5px;font-weight:bold;font-size:120%" color="primary">{{post.namaKomoditas}}</p>
                    </ion-col>
                    <ion-col>
                    </ion-col>
                  </ion-row>
                </ion-grid>
                <h1 style="padding-left:10px">{{formatCurrency(post.harga,'Rp.')}} /{{post.satuan}}</h1>
              </ion-card-header>
            </ion-col>
            <ion-col text-right>
              <button ion-button clear small  color="primary" (click)="presentActionSheet(post)" *ngIf="post.user_id == user_id">
                <ion-icon name='ios-arrow-down-outline'></ion-icon>
              </button>
            </ion-col>
          </ion-row>
          <ion-card-content class="outer-content">
            <ion-icon name='pin'> </ion-icon>
            {{post.alamat}}
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>


  <!--segment trend user pedagang-->
  <div *ngIf="segment=='trend'">
    <!--1 hari sebelumnya-->
    <h4 padding-left padding-top><b>1 hari sebelumnya</b></h4>
    <ion-card *ngFor="let post of dataHarga1">
      <div *ngIf="choosedKomoditas=='All'||post.komoditas_id==choosedKomoditas">
        <ion-row>
            <ion-col text-left>
              <ion-card-header no-padding>
                <ion-grid>
                  <ion-row >
                    <ion-col col-1>
                      <img  style="max-height:40px;max-width:40px" src="assets/maps-icon/{{post.namaKomoditas.toLowerCase()}}.png">
                    </ion-col>
                    <ion-col col-10>
                      <p style="padding-top:5px;font-weight:bold;font-size:120%" color="primary">{{post.namaKomoditas}}</p>
                    </ion-col>
                    <ion-col>
                    </ion-col>
                  </ion-row>
                </ion-grid>
                <h1 style="padding-left:10px">{{formatCurrency(post.harga,'Rp.')}} /{{post.satuan}}</h1>
              </ion-card-header>
            </ion-col>
            <ion-col text-right>
              <button ion-button clear small  color="primary" (click)="presentActionSheet(post)" *ngIf="post.user_id == user_id">
                <ion-icon name='ios-arrow-down-outline'></ion-icon>
              </button>
            </ion-col>
          </ion-row>
          <ion-card-content class="outer-content">
            <ion-icon name='pin'> </ion-icon>
            {{post.alamat}}
          </ion-card-content>
      </div>
    </ion-card>
    <!--2 hari sebelumnya-->
    <h4 padding-left><b>2 hari sebelumnya</b></h4>
    <ion-card *ngFor="let post of dataHarga2">
      <div *ngIf="choosedKomoditas=='All'||post.komoditas_id==choosedKomoditas">
        <ion-row>
            <ion-col text-left>
              <ion-card-header no-padding>
                <ion-grid>
                  <ion-row >
                    <ion-col col-1>
                      <img  style="max-height:40px;max-width:40px" src="assets/maps-icon/{{post.namaKomoditas.toLowerCase()}}.png">
                    </ion-col>
                    <ion-col col-10>
                      <p style="padding-top:5px;font-weight:bold;font-size:120%" color="primary">{{post.namaKomoditas}}</p>
                    </ion-col>
                    <ion-col>
                    </ion-col>
                  </ion-row>
                </ion-grid>
                <h1 style="padding-left:10px">{{formatCurrency(post.harga,'Rp.')}} /{{post.satuan}}</h1>
              </ion-card-header>
            </ion-col>
            <ion-col text-right>
              <button ion-button clear small  color="primary" (click)="presentActionSheet(post)" *ngIf="post.user_id == user_id">
                <ion-icon name='ios-arrow-down-outline'></ion-icon>
              </button>
            </ion-col>
          </ion-row>
          <ion-card-content class="outer-content">
            <ion-icon name='pin'> </ion-icon>
            {{post.alamat}}
          </ion-card-content>
      </div>
    </ion-card>
    <!--3 hari sebelumnya-->
    <h4 padding-left><b>3 hari sebelumnya</b></h4>
    <ion-card *ngFor="let post of dataHarga3">
      <div *ngIf="choosedKomoditas=='All'||post.komoditas_id==choosedKomoditas">
        <ion-row>
            <ion-col text-left>
              <ion-card-header no-padding>
                <ion-grid>
                  <ion-row >
                    <ion-col col-1>
                      <img  style="max-height:40px;max-width:40px" src="assets/maps-icon/{{post.namaKomoditas.toLowerCase()}}.png">
                    </ion-col>
                    <ion-col col-10>
                      <p style="padding-top:5px;font-weight:bold;font-size:120%" color="primary">{{post.namaKomoditas}}</p>
                    </ion-col>
                    <ion-col>
                    </ion-col>
                  </ion-row>
                </ion-grid>
                <h1 style="padding-left:10px">{{formatCurrency(post.harga,'Rp.')}} /{{post.satuan}}</h1>
              </ion-card-header>
            </ion-col>
            <ion-col text-right>
              <button ion-button clear small  color="primary" (click)="presentActionSheet(post)" *ngIf="post.user_id == user_id">
                <ion-icon name='ios-arrow-down-outline'></ion-icon>
              </button>
            </ion-col>
          </ion-row>
          <ion-card-content class="outer-content">
            <ion-icon name='pin'> </ion-icon>
            {{post.alamat}}
          </ion-card-content>
      </div>
    </ion-card>
  </div>
    <ion-fab bottom right #fab >
      <button ion-fab (click)="postHargaKomoditas()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
</ion-content>
