<!--
  Generated template for the OperasiPasar page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Request Operasi Pasar</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
	<ion-card *ngFor="let data of dataOperasi">
      <ion-row>
        <ion-col text-left>
          <ion-card-header>
            <h2>{{data.komoditas}}</h2>
            <h5>{{data.datePost}}</h5>
          </ion-card-header>
        </ion-col>
        <div *ngIf="data.us_id == us_id">
          <ion-col text-right>
            <button ion-button clear small  color="primary" (click)="presentActionSheet(data)">
              <ion-icon name='more'></ion-icon>
             </button>
          </ion-col>
        </div>
      </ion-row>
        <ion-row padding-left>
          <ion-col>
            <h4>{{data.pesan}}</h4>
          </ion-col>
        </ion-row>
        <ion-row padding-left>
          <ion-col>
            <ion-icon name='pin'></ion-icon>
            {{data.lokasi}}
          </ion-col>
        </ion-row>
        <ion-row no-padding>
          <ion-col text-left>
            <button ion-button clear small  color="primary" (click)="lihatPendukung(data.operasiPasar_id)">
              {{data.total_pendukung}} Pendukung
            </button>
          </ion-col>
          <ion-col text-right>
            <div *ngIf="data.us_id != us_id && data.status_voted == false">
              <button ion-button clear small color="primary" icon-left (click)="dukungOperasi(data.operasiPasar_id)" >
                <ion-icon name='thumbs-up'></ion-icon>
                Dukung
              </button>
          </div>
          <div *ngIf="data.us_id != us_id && data.status_voted == true">
              <button ion-button clear small color="primary" icon-left (click)="batalDukungOperasi(data.operasiPasar_id)" >
                <ion-icon name='thumbs-up'></ion-icon>
                Batal Dukung
              </button>
          </div>
          </ion-col>
        </ion-row>
    </ion-card>
	<ion-fab bottom right #fab>
    	<button ion-fab (click)="kirimOperasiPasar()"><ion-icon name="add"></ion-icon></button>
  	</ion-fab>
</ion-content>
