<!--
  Generated template for the OperasiPasar page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle color="light">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Portal Harga</ion-title>
	</ion-navbar>

</ion-header>


<ion-content>
	<ion-card *ngFor="let data of dataOperasi">
      <ion-row>
        <ion-col text-left>
          <ion-card-header no-padding>
            <div ion-item>
              <ion-avatar item-left>
                  <img src="assets/icon/user.png" *ngIf="!data.picture">
                  <img [src]="data.picture" *ngIf="data.picture">
                </ion-avatar>
              <h6>{{data.nama}}</h6>
              <h6 color="primary" ><b>{{data.namaKomoditas}}</b></h6>
              <p><small>{{data.time}} {{data.time!='now'?'ago':''}}</small></p>
            </div>
          </ion-card-header>
        </ion-col>
        <div *ngIf="data.user_id == user_id">
          <ion-col text-right>
            <button ion-button clear small  color="primary" (click)="presentActionSheet(data)">
              <ion-icon name='ios-arrow-down-outline'></ion-icon>
             </button>
          </ion-col>
        </div>
      </ion-row>
        <ion-row padding-left>
          <ion-col>
            <h4>{{data.pesan}}</h4>
          </ion-col>
        </ion-row>
        <ion-row padding-left>
          <ion-col>
            <small><ion-icon name='pin'></ion-icon>
            {{data.alamat}}</small>
          </ion-col>
        </ion-row>
        <ion-row no-padding>
          <ion-col text-left>
            <button ion-button clear small  color="primary" (click)="lihatPendukung(data.operasiPasar_id)">
              <small>{{data.totalPendukung}} Pendukung</small>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button clear small  color="primary" (click)="lihatTanggapan(data.operasiPasar_id)">
              <small>{{data.total_tanggapan}} Tanggapan</small>
            </button>
          </ion-col>
          <ion-col text-right>
            <div *ngIf="data.user_id != user_id && data.status_voted == false">
              <button ion-button clear small color="primary" icon-left (click)="dukungOperasi(data.operasiPasar_id)" >
                <small><ion-icon name='thumbs-up'></ion-icon>
                Dukung</small>
              </button>
          </div>
          <div *ngIf="data.user_id != user_id && data.status_voted == true">
              <button ion-button clear small color="primary" icon-left (click)="batalDukungOperasi(data.operasiPasar_id)" >
                <small><ion-icon name='thumbs-up'></ion-icon>
                Batal Dukung</small>
              </button>
          </div>
          </ion-col>
        </ion-row>
    </ion-card>
	<ion-fab bottom right #fab>
    	<button ion-fab (click)="kirimOperasiPasar()"><ion-icon name="add"></ion-icon></button>
  	</ion-fab>
</ion-content>
