page-artikel-edit-tambah {
    .image-block{
        display: block;
        max-height: 250px;
    }
    .image-cover{
        display: block;
        margin-left: auto;
        margin-right: auto;        
    }
}
