<!--
  Generated template for the ForgetPassword page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Lupa password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
	<form #form="ngForm" novalidate *ngIf="!success">
		<ion-list >
			<h6 padding>Masukkan username untuk me-reset password anda</h6>
			<ion-item>
				<ion-label stacked color="primary">Username</ion-label>
				<ion-input [(ngModel)]="user.username" name="username" type="text" #username="ngModel" spellcheck="false" autocapitalize="off"
					required placeholder="Username">
				</ion-input>
			</ion-item>
			<p ion-text [hidden]="username.valid || submitted == false" color="danger" padding-left>
				Username harus diisi
			</p>
			<p ion-text *ngIf="userNotFound" color="danger" padding-left>
				Username tidak ditemukan
			</p>

		</ion-list>

		<ion-row responsive-sm>
			<ion-col>
				<button ion-button (click)="onSubmit(form)" type="submit" block>Lanjutkan</button>
			</ion-col>
		</ion-row>
	</form>
	<div *ngIf="success">
		<p padding>Email anda: {{user.email}}</p>
		<p padding-left>Perikas email anda untuk membuat password baru kemudian silahkan login kembali.</p>
	</div>
</ion-content>
