<ion-header>
	<ion-navbar>
		<ion-title>Register Masyarakat</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="login-page">
	<form #signupForm="ngForm" novalidate>
		<ion-list no-lines>
			<ion-item>
				<ion-label stacked color="primary">Nama lengkap</ion-label>
				<ion-input [(ngModel)]="user.name" placeholder="Nama lengkap" name="nama" type="text" #nama="ngModel" required>
				</ion-input>
			</ion-item>
			<p ion-text [hidden]="nama.valid || submitted == false" color="danger" padding-left>
				Nama lengkap harus diisi
			</p>

			<ion-item>
				<ion-label stacked color="primary">Email</ion-label>
				<ion-input [(ngModel)]="user.email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" placeholder="Email" name="email" type="email" #email="ngModel" required>
				</ion-input>
			</ion-item>
			<div [hidden]="email.valid || submitted == false" padding-left>
				<p ion-text color="danger" *ngIf="!user.email">Email harus diisi</p>
				<p ion-text color="danger" *ngIf="user.email">Email tidak valid</p>
			</div>

			<ion-item>
				<ion-label stacked color="primary">Username</ion-label>
				<ion-input [(ngModel)]="user.username" pattern="[A-Za-z_0-9]{1,}" placeholder="Username" name="username" type="text" #username="ngModel" required>
				</ion-input>
			</ion-item>
			<div padding-left [hidden]="username.valid || submitted == false">
				<p ion-text color="danger" *ngIf="!user.username" >Username harus diisi</p>
				<p ion-text color="danger" *ngIf="user.username" >Username mengandung karakter yang tidak valid</p>
			</div>
			<ion-item>
				<ion-label stacked color="primary">Password</ion-label>
				<ion-input [(ngModel)]="user.password" pattern=".{6,}" placeholder="Password" name="password" type="password" #password="ngModel" required>
				</ion-input>
			</ion-item>
			<div [hidden]="password.valid || submitted == false" padding-left>
				<p ion-text color="danger" *ngIf="!user.password">Password harus diisi</p>
				<p ion-text color="danger" *ngIf="user.password">Password minimal 6 karakter</p>
			</div>
		</ion-list>

		<div padding>
			<button ion-button (click)="onSignup(signupForm)" type="submit" block>Daftar</button>
		</div>
	</form>

</ion-content>
