<!--
  Generated template for the Profile page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  	
    <ion-title>Profile</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
	<div padding-top text-center>
	    <img [src]="profilePicture" *ngIf="profilePicture" alt="avatar">
	    <img src="assets/icon/user.png" *ngIf="!profilePicture" alt="avatar">
	    <h2>{{nama}}</h2>
	    <button ion-button outline color="primary" (click)="editProfile()" >
			Edit profile
		</button>
		<button ion-button outline color="primary" (click)="logout()" >
			Logout
		</button>
	</div>
	<h4>Aspirasiku</h4>
	<ion-card *ngFor="let data of aspirasi" class="aspirasi">
		<ion-row>
			<ion-col text-left>
				<ion-card-header>
					<div ion-item>
				        <ion-avatar item-left>
				          <img src="assets/icon/user.png" *ngIf="!data.picture">
				          <img [src]="data.picture" *ngIf="data.picture">
				        </ion-avatar>
				        {{data.name}}
	    				<h6>{{data.time}} {{data.time!='now'?'ago':''}}</h6>  
			        </div>
			    </ion-card-header>
			</ion-col> 
			<div *ngIf="data.user_id == user_id">
				<ion-col text-right>
					<button ion-button clear small  color="primary" (click)="presentActionSheet(data)">
		        	 	<ion-icon name='more'></ion-icon>
		        	 </button>
				</ion-col>
			</div>
		</ion-row>
	    <ion-card-content class="outer-content">
	    	<h2 padding="true">{{data.subjek}}</h2>
            <h3 padding="true">{{data.isi}}</h3>
	    </ion-card-content>
	    <ion-row no-padding>
	      <ion-col text-left>
	        <button ion-button clear small  color="primary" (click)="lihatPendukung(data.aspirasi_id)">
	          {{data.total_pendukung}} Pendukung
	        </button>
	      </ion-col>
	    </ion-row>
	</ion-card>
</ion-content>
