<ion-header>

  <ion-navbar>
    <ion-title>Aspirasi</ion-title>
  </ion-navbar>

</ion-header>
<ion-content class="outer-content coba">
	<ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      refreshingSpinner="circles"
      refreshingText="Memuat ulang...">
    </ion-refresher-content>
  </ion-refresher>
	<ion-card *ngFor="let post of aspirasi" class="aspirasi">
		<ion-row>
			<ion-col text-left>
				<ion-card-header>
					<div ion-item>
				        <ion-avatar item-left>
				          <img src="https://openclipart.org/image/2400px/svg_to_png/211821/matt-icons_preferences-desktop-personal.png" alt="Speaker profile pic">
				        </ion-avatar>
				        {{post.name}}
	    				<h6>{{post.time}} {{post.time!='now'?'ago':''}}</h6>  
			        </div>
			    </ion-card-header>
			</ion-col> 
			<div *ngIf="post.us_id == id">
				<ion-col text-right>
					<button ion-button clear small  color="primary" (click)="presentActionSheet(post.aspirasi_id)">
		        	 	<ion-icon name='more'></ion-icon>
		        	 </button>
				</ion-col>
			</div>
		</ion-row>
	    <ion-card-content class="outer-content">
	    	<h2 padding="true">{{post.subjek}}</h2>
            <h3 padding="true">{{post.isi_aspirasi}}</h3>
	    </ion-card-content>
	    <ion-row no-padding>
	      <ion-col text-left>
	        <button ion-button clear small  color="primary" (click)="lihatPendukung(post.aspirasi_id)">
	          {{post.total_pendukung}} Pendukung
	        </button>
	      </ion-col>
	      <ion-col text-right>
	      	<div *ngIf="post.us_id != id && post.status_voted == false">
		        <button ion-button clear small color="primary" icon-left (click)="dukungAspirasi(post.aspirasi_id)" >
		          <ion-icon name='thumbs-up'></ion-icon>
		          Dukung
		        </button>
		    </div>
		    <div *ngIf="post.us_id != id && post.status_voted == true">
		        <button ion-button clear small color="primary" icon-left (click)="batalDukungAspirasi(post.aspirasi_id)" >
		          <ion-icon name='thumbs-up'></ion-icon>
		          Batal Dukung
		        </button>
		    </div>
	      </ion-col>
	    </ion-row>
	</ion-card>
	<ion-fab bottom right #fab>
    	<button ion-fab (click)="tambahAspirasi()"><ion-icon name="add"></ion-icon></button>
  	</ion-fab>
</ion-content>
<!-- tambah waktu -->